<div class="w-6xl p-10 rounded-xl shadow-xl bg-white">
  <div class="space-x-4 flex w-full justify-between">
    <input
      [(ngModel)]="newTask"
      placeholder="Titulo"
      type="text"
      class="border border-orange-500 px-2 w-[90%] py-2 rounded-lg"
    />
    <input
      [(ngModel)]="newDesc"
      placeholder="Descripcion"
      type="text"
      class="border border-orange-500 px-2 w-[90%] py-2 rounded-lg"
    />
    <button
      (click)="addTask()"
      class="bg-orange-500/50 py-2 px-6 rounded-lg hover:bg-orange-500 font-bold text-xl flex items-center"
    >
      Add
    </button>
  </div>

  <ul class="w-full flex py-6 px-2">
    <li
      class="py-2 flex w-full justify-between items-center border border-none border-b-black/30"
      *ngFor="let todoItem of todoList; let i = index"
    >
      <div class="space-x-4 text-md flex items-center w-full">
        <input type="checkbox" class="" (change)="toggleCompleted(i)" />
        <div class="w-full">
          <span
            [ngStyle]="
              todoItem.completed
                ? { 'text-decoration': 'line-through', color: 'gray' }
                : {}
            "
            class="text-2xl font-bold"
          >
            {{ todoItem.task }}
          </span>
          <p
            [ngStyle]="
              todoItem.completed
                ? { 'text-decoration': 'line-through', color: 'gray' }
                : {}
            "
          >
            {{ todoItem.desc }}
          </p>
        </div>
        <span [ngStyle]="todoItem.completed ? { color: 'green' } : {}">
          {{ todoItem.completed ? "Completada" : "Pendiente" }}
        </span>
        <button
          (click)="deleteTask(todoItem.id)"
          class="py-2 px-4 bg-red-500/50 hover:bg-red-500 hover:text-white rounded-lg flex items-center"
        >
          Remove
        </button>
      </div>
    </li>
  </ul>
</div>
